RewriteEngine On
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Redirect Trailing Slashes If Not A Folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle API routes correctly
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^ - [L]

# Resolve .html file for extensionless urls
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.*)$ $1.html [L]

# Fallback to 404.html if not found
ErrorDocument 404 /404.html
